body{
	background-color: #dff9fb

}
h1{
	color: #7f8fa6 
	color orange 
	font-size:82px;
	font-family: 'Lato', sans-serif;
}


#sidebar ul{
	list-style-type:none;
	margin:0;
	padding: 0;
	width: 10%
	background-color:white;
	height: 100%
	grid-column:0
	grid-row:0;
}

#nav ul {
list-style-type: none;
margin: 0;
padding: 0;
top: 0;
left: 0;
overflow: hidden;
background-color:#dff9fb;
width:100%
position:sticky;
}



